@page {
    size: 595pt 842pt;
    margin-bottom: 50pt;
    margin-top: 40pt;
}
@page :left {
    margin-left: 44pt;
    margin-right: 72pt;
}
@page :right {
    margin-left: 72pt;
    margin-right: 44pt;
}


body {
    font-family: "Gentium Book Plus", serif;
    font-size: 9pt;
    line-height: 10pt;
}


p {
    margin: 0;
    padding: 0;
}


h1 {
    font-size: 18pt;
    line-height: 20pt;
    font-weight: bold;
    margin: 0;
    margin-bottom: 0pt;
    border-bottom: 0pt solid black;
    padding-bottom: 0pt;
    width: 479pt;
    font-family: "Gentium Book Plus", serif;
    break-after: avoid;
}


h2.verseRecordHeadLeft, h2.verseRecordHeadRight {
    font-size: 10pt;
    line-height: 20pt;
    font-style: italic;
    font-weight: bold;
    margin: 0;
    width: 233.5pt;
    font-family: "Gentium Book Plus", serif;
}

h2.verseRecordHeadLeft {
    text-align: left;
}

h2.verseRecordHeadRight {
    text-align: right;
}

.leftColumn {
    display: inline-block;
    width: 233.5pt;
    vertical-align: top;
    margin-right: 6pt;
}

.rightColumn {
    width: 233.5pt;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    margin-left: 6pt;
}



.columnHeadings {
    page-break-inside: avoid;
    break-after: page;
    vertical-align: top;
    display: inline-flex;
}
