@page {
    size: 1190pt 842pt;
    margin-right: 44pt;
    margin-left: 44pt;
    margin-bottom: 50pt;
    margin-top: 40pt;

    @top-center {
    }

    @footnote {
        float: bottom;
        columns: 2;
        column-gap: 144pt;
        margin-top: 10pt;
    }
}


body {
    font-family: "Gentium Book Plus", serif;
    font-size: 9pt;
    line-height: 10pt;
}


p {
    margin: 0;
    padding: 0;
}


h1 {
    font-size: 18pt;
    line-height: 20pt;
    font-weight: bold;
    margin: 0;
    margin-bottom: 0pt;
    border-bottom: 0pt solid black;
    padding-bottom: 0pt;
    width: 479pt;
    font-family: "Gentium Book Plus", serif;
    break-after: avoid;
}


h2.verseRecordHeadLeft, h2.verseRecordHeadRight {
    font-size: 10pt;
    line-height: 20pt;
    font-style: italic;
    font-weight: bold;
    margin: 0;
    width: 479pt;
    font-family: "Gentium Book Plus", serif;
}
.versoPage {
    display: inline-block;
    width: 479pt;
    vertical-align: top;
    margin-right: 72pt;
}

.rectoPage {
    width: 479pt;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    margin-left: 72pt;
}

.verseRecord {
    page-break-inside: avoid;
    vertical-align: top;
    display: flex;
}


.col1, .col2, .col3, .col4 {
    vertical-align: top;
    display: inline-block;
    width: 233.5pt;
    text-align: justify;
}

.col1, .col3 {
    margin-right: 12pt;
}

.columnHeadings {
    page-break-inside: avoid;
    break-after: page;
    vertical-align: top;
    display: inline-flex;
}
