@page {
    size: 595pt 842pt;
    margin-bottom: 50pt;
    margin-top: 60pt;
    @footnote {
        float: bottom;
        margin-top: 10pt;
    }
}
@page :first {
    margin-top: 40pt;
}
@page :left {
    margin-left: 44pt;
    margin-right: 72pt;
}
@page :right {
    margin-left: 72pt;
    margin-right: 44pt;
}


body {
    font-family: "Gentium Book Plus", serif;
    font-size: 9pt;
    line-height: 10pt;
}


p {
    margin: 0;
    padding: 0;
}


h1 {
    font-size: 18pt;
    line-height: 20pt;
    font-weight: bold;
    margin: 0;
    margin-bottom: 0pt;
    border-bottom: 0pt solid black;
    padding-bottom: 0pt;
    width: 479pt;
    font-family: "Gentium Book Plus", serif;
    break-after: avoid;
}


.leftColumn {
    display: inline-block;
    width: %SCRIPTURECOLUMNWIDTH%pt;
    vertical-align: top;
    margin-right: 6pt;
    text-align: left;
}

.rightColumn {
    width: %NOTESCOLUMNWIDTH%pt;
    display: inline-block;
    vertical-align: top;
    margin-left: 6pt;
}

.verseRecord {
    page-break-inside: avoid;
    vertical-align: top;
    display: flex;
    padding-bottom: 5pt;
    border-bottom: 1pt solid black;
    margin-bottom: 4pt
}

.col1, .col2 {
    vertical-align: top;
    display: inline-block;
}

.col2 {
}
.cv {
    font-style: italic;
    font-weight: bold;
}
.note {
    font-family: "Open Sans Condensed Light", sans-serif;
    display: list-item;
    font-size: 9pt;
    line-height: 10pt;
    text-align: justify;
    margin-bottom: 0pt;
    margin-left: 10pt;
}

.note .b {
    font-weight: bold;
}
